body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #56278C;
  font-family:'Times New Roman', Times, serif;
  font-size: 34px;
  cursor: help;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: movement 4s 5;
}

@keyframes movement {
  from {
    background-color: red; left: 0; top: 0;
  }
  25% {
    background-color: yellow; left: 250px; top: 0;
  }
  50% {
    background-color: blue; left: 250px; top: 250px;
  }
  75% {
    background-color: green; left: 0; top: 250px;
  }
  to {
    background-color: red; left: 0; top: 0;
  }
}

.square2 {
  height: 220px;
}
